<h2>ユーザ情報編集</h2>
<%= form_for(@user) do |f| %>
    <h5>ユーザ名</h5>
    <%= f.text_field :user_name %>

	<h5>郵便番号</h5>
	<%= f.text_field :post %>

	<h5>住所</h5>
	<%= f.text_field :a_address %>

	<h5>電話番号</h5>
	<%= f.text_field :phone %>

    <h5>メールアドレス</h5>
    <%= f.text_field :email %>

	<%= f.submit '基本情報を変更する' %>
<% end %>
