<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
			<h3 class="ribbon4">全ての生産者</h3><br>
			<% @producers.each do |producer| %>
				<%= attachment_image_tag producer, :producer_image, :fill, 100, 100, format: 'jpeg' ,fallback: "no_image.jpg"%>
				<%= link_to producer.producer_name, producer_path(producer.id)%>
				<%= producer.a_address %>
				<% if user_signed_in? %>
					<% if producer.followed_by?(current_user) %>
						<p><span>フォロー解除: </span><%=link_to producer.follows.count, producer_follows_path(producer.id), method: :delete %></p>
					<% else %>
						<p><span>フォロー登録: </span><%=link_to producer.follows.count, producer_follows_path(producer.id), method: :post %></p>
						<% end %>
					<% else %>
						<p><span>フォロー数: </span><%= producer.follows.count %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

