<h3>生産者詳細</h3>

<h5>生産者名</h5>
<%= @producer.producer_name %>
<h5>郵便番号</h5>
<%= @producer.post %>
<h5>住所</h5>
<%= @producer.a_address %>
<h5>電話番号</h5>
<%= @producer.phone %>
<h5>メールアドレス</h5>
<%= @producer.email %>
<% if @producer.id == current_producer.id %>
  <%= link_to "プロフィール編集", edit_producer_path(@producer) %>
  <%= link_to '退会', producer_path(@producer), method: :delete, data: { confirm: '退会しますか？' }%>
<% end %>
<h2>この生産者の投稿一覧</h2>
<% @reply_posts.each do |post| %>
  <%= post.comment %>
<% end %>


<div id="map" style="height: 250px; width: 250px;"></div>

<%=
  map(:center => {
      :latlng => [36, 140],
      :zoom => 4,
  })
%>

<script>
  // rubyから渡された住所配列をjsの変数に格納
  var maps = <%= @maps.to_json.html_safe %>;

  for(var hash_count = 0; hash_count < maps.length; hash_count++){
    // 緯度経度とコメントを取り出しマーカー化
    L.marker(maps[hash_count].lonlat.split(','), {icon: L.icon({iconUrl: "/marker.png"})},)
      .bindPopup(maps[hash_count].comment)
      .addTo(map);
  }
</script>