<% @posts.each do |post| %>
		『<%= post.user.user_name %>』さんが
		『<%= post.follow_producer %>』さんに
		『<%= post.title %>』を投稿しました。
		内容：<%= post.description %>
	<% post.replys.each do |reply| %>
		返信:<%= reply.comment %>
	<% end %>

	<% if producer_signed_in? %>
		　<%= link_to post_path(post) do %>
		『<%= post.user.user_name %>』さんのコメントに返信
		　<% end %>
	<% end %>

	<% if user_signed_in? %>
		<% if post.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
	    	<p><span>お気に入り解除: </span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :delete %></p>
		<% else %>
	    	<p><span>お気に入り登録: </span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :post %></p>
			<% end %>
		<% else %>
			<p><span>お気に入り数: </span><%= post.favorites.count %></p>
	<% end %>
<% end %>
